body {
    padding: 0;
    margin: 0;
    background-color: #000;
}

body{
    background-color: black;
    font-family: 'Oxygen', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

.fondo-nav{
  
    background-color: black;
    
}